/* Styles spécifiques au Dashboard uniquement */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* S'assurer que les styles du wrapper ne s'appliquent qu'au Dashboard */
.container .wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .content-box h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.container .content-box h2 {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
    color: #fff;
}

.container .content-box p {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

/* Styles spécifiques pour les boutons dans Dashboard uniquement */
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0; /* Ajoute une marge entre les boutons */
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.events-list {
    max-height: 300px; /* Définis la hauteur maximale de la liste */
    overflow-y: auto;  /* Active la barre de défilement verticale */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.events-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.events-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

.events-list li:last-child {
    border-bottom: none;
}

.events-list button {
    margin-left: 10px;
}
