.empty-slot {
    background-color: #3a373777  !important; /* Couleur de fond pour les emplacements vides */
    color: #ffffff; /* Couleur du texte */
    border: 2px dashed #b10707; /* Style de bordure pour différencier */
    text-align: center;
    font-style: italic;
}