.highlight {
    background-color: rgb(0, 217, 255); /* Highlight color */
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 15px 20px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%; /* Prend toute la largeur disponible */
    max-width: none; /* Enlève la limite de largeur */
    margin: 20px 0; /* Espacement vertical pour centrer */
}

/* Classes pour les cellules de personnage */
.character-cell {
    color: black;
}

.character-cell b {
    font-weight: bold;
}

.character-cell-warrior { background-color: #C79C6E; }
.character-cell-deathknight { background-color: #C41E3A; }
.character-cell-paladin { background-color: #F58CBA; }
.character-cell-monk { background-color: #00FF96; }
.character-cell-priest { background-color: #FFFFFF; }
.character-cell-mage { background-color: #40C7EB; }
.character-cell-druid { background-color: #FF7D0A; }
.character-cell-rogue { background-color: #FFF569; }
.character-cell-hunter { background-color: #A9D271; }
.character-cell-demonhunter { background-color: #A330C9; }
.character-cell-warlock { background-color: #8787ED; }
.character-cell-evoker { background-color: #33937F; }
.character-cell-shaman { background-color: #0070DE; }
